@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Open+Sans:wght@300&family=Poppins:ital,wght@0,200;0,300;0,400;1,100&family=Ubuntu&display=swap');

*{margin: 0; padding: 0;}

body{
    font-family: "Ubuntu";
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
input{
    margin: 10px;
    width: 80%;
    font-size: 18px;
    height: 30px;
    margin: 20px;
}
button{
    font-size: 20px;
    border-radius: 5px;
    width: 80%;
}
label{
    font-weight: bold;
    font-size: 25px;
}
div{
    margin: 20px;
    text-align: center;
    grid-column-start: 2;
}

@media only screen and (min-width: 600px) {

}